# Ignorar todos los archivos .log en todos los directorios y subdirectorios
*.log

.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Ignore SSL certificates and keys in nginx ssl directory
nginx/ssl/*.crt
nginx/ssl/*.key